<html>
<div class={{view_style}}>
{% include "./header.html" %}
<div class='pagelabel'>
  <h2><i class="bi bi-tools" style="margin-right:6px;padding-left:5px;font-size: 25px;"></i>Admin Tools</h2>
  <hr>
</div>
<body class={{view_style}}>
<div class='controls'>
    <a href='/admin-tools/dropdowns'><button class='btn btn-outline-dark'><i class="bi bi-list" style="margin-right: 5px;"></i>Dropdowns</button></a>
    <a href='/admin-tools/logs'><button class='btn btn-outline-dark'><i class="bi bi-clock-history" style="margin-right: 5px;"></i>Logs</button></a>
  </div>
</body>
</div>
</html>
