<html> 
    <div class={{view_style}}>
{% include "./header.html" %}
<div class='pagelabel'>
    <h2><i class="bi bi-clock-history" style="padding-left:4px;font-size: 25px"></i>
        {% if searched_table == True %}
        Logs Where {{ search_category }} is {{ criteria }}
        {% else %}
        Logs
        {% endif %}
    </h2>
    <hr>
</div>
<body class={{view_style}}>
<div class='controls'>
    <a href='/admin-tools/logs/search'><button class='btn btn-outline-dark'><i class="bi bi-search" style="margin-right: 5px;"></i>Search</button></a>
    <form action='/admin-tools/logs' method='post'>
  <div>
      <div>
        <label><b>Sort by:</b></label> 
          <select name='sortby'>
            {% for option in sortby_list %}
            <option value='{{option}}'>{{option}}</option>
            {% endfor %}
          </select>
          <input type="submit" class='btn btn-outline-dark btn-sm' value='Sort'>
      </div>
  </div>
</form>
</div>
<table class='table'>
        <thead>
            <tr class='table__header'>
                <th scope='col'>Username</th>
                <th scope='col'>Action Type</th>
                <th scope='col'>Database</th>
                <th scope='col'>Timestamp</th>
                <th scope='col'>Record Copy</th>
            </tr>
        </thead>
        {% for item in logtable %}
        <tr class='table__row'>
            {% for cell in item %}
            <td class='table__cell'>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
<b class='returned-records'>Returned Records: {{logtable|length}}</b>
    </div>
</html>