<html> 
<div class={{view_style}}>
{% include "./header.html" %}
<div class='pagelabel'>
    <h2><i class="bi bi-plus-circle" style="margin-right:5px;padding-left:4px;font-size: 27px;"></i>Add Hostname</h2>
    <hr>
</div>
<body class={{view_style}}>
<div class='page_form'>    
<form action='/hostnames/add' method='post'>
        <div>
            <input type='text' name='hostname' placeholder='Hostname' maxlength='20' required>
            <input type='text' name='description' placeholder='Description' required> 
                <input name='active' class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked"><b>Active</b></label>
                <a href='{{last_hostnames_page}}'><input type='button' class='btn btn-outline-dark btn-sm' value='Cancel' /></a>
        </div>
        <input type='submit' class='btn btn-outline-dark btn-sm'value='Add'>
        <a href='{{last_hostnames_page}}'><input type='button' class='btn btn-outline-dark btn-sm' value='Cancel' /></a>
    </form>
</div>
</body>
</div>
</html>